In [5]:
!pip install numpy pandas scikit-learn streamlit

Requirement already satisfied: numpy in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (1.24.4)
Requirement already satisfied: pandas in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (2.0.3)
Collecting scikit-learn
  Using cached scikit_learn-1.3.2-cp38-cp38-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: streamlit in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (1.40.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from pandas) (2025.2)
Collecting scipy>=1.5.0 (from scikit-learn)
  Using cached scipy-1.10.1-cp38-cp38-win_amd64.whl.metadata (58 kB)
Collecting joblib>=1.1.1 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: altair<6,>=4.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (5.4.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (1.8.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (8.1.8)
Requirement already satisfied: packaging<25,>=20 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (24.2)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (17.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (2.32.4)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (4.13.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (6.4.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from streamlit) (4.0.2)
Requirement already satisfied: jinja2 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.5.2 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from altair<6,>=4.0->streamlit) (1.42.1)
Requirement already satisfied: colorama in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: six>=1.5 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from requests<3,>=2.27->streamlit) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from requests<3,>=2.27->streamlit) (2025.8.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.19.2)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (6.4.5)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (1.3.10)
Requirement already satisfied: referencing>=0.28.4 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.20.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: zipp>=3.1.0 in c:\users\samee\onedrive\desktop\student performants\myenv\lib\site-packages (from importlib-resources>=1.4.0->jsonschema>=3.0->altair<6,>=4.0->streamlit) (3.20.2)
Using cached scikit_learn-1.3.2-cp38-cp38-win_amd64.whl (9.3 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.10.1-cp38-cp38-win_amd64.whl (42.2 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.3.2 scipy-1.10.1 threadpoolctl-3.5.0

In [14]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

In [15]:
df=pd.read_csv('Student_Performance.csv')
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91
1,4,82,No,4,2,65
2,8,51,Yes,7,2,45
3,5,52,Yes,5,2,36
4,7,75,No,8,5,66
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23
9996,7,64,Yes,8,5,58
9997,6,83,Yes,8,5,74
9998,9,97,Yes,7,0,95
9999,7,74,No,8,1,64

In [16]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91
1,4,82,No,4,2,65
2,8,51,Yes,7,2,45
3,5,52,Yes,5,2,36
4,7,75,No,8,5,66

In [11]:
df.tail()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
9995,1,49,Yes,4,2,23
9996,7,64,Yes,8,5,58
9997,6,83,Yes,8,5,74
9998,9,97,Yes,7,0,95
9999,7,74,No,8,1,64

In [17]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [18]:
lb = LabelEncoder()
lb.fit_transform(df['Extracurricular Activities'])

array([1, 0, 1, ..., 1, 1, 0])

In [19]:
lb=LabelEncoder()
df['Extracurricular Activities'] = lb.fit_transform(df['Extracurricular Activities'])
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91
1,4,82,0,4,2,65
2,8,51,1,7,2,45
3,5,52,1,5,2,36
4,7,75,0,8,5,66
...,...,...,...,...,...,...
9995,1,49,1,4,2,23
9996,7,64,1,8,5,58
9997,6,83,1,8,5,74
9998,9,97,1,7,0,95
9999,7,74,0,8,1,64

In [21]:
X=df.drop('Performance Index', axis=1)
y=df['Performance Index']

In [22]:
X

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
...,...,...,...,...,...
9995,1,49,1,4,2
9996,7,64,1,8,5
9997,6,83,1,8,5
9998,9,97,1,7,0
9999,7,74,0,8,1

In [23]:
y

0       91
1       65
2       45
3       36
4       66
        ..
9995    23
9996    58
9997    74
9998    95
9999    64
Name: Performance Index, Length: 10000, dtype: int64

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [25]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [27]:
y_predict=regression.predict(X_test)
y_predict
print(y_predict)

[54.71185392 22.61551294 47.90314471 ... 16.79341955 63.34327368
 45.94262301]

In [28]:
r2=r2_score(y_test, y_predict)
rmse=np.sqrt(mean_squared_error(y_test, y_predict))
print(f'r2 Score: r2*100')
print(f'RMSE: {rmse}')

r2 Score: r2*100
RMSE: 2.020551508505006

In [32]:
predict_result=regression.predict([[7,99, 1,9,1]])
print(predict_result)
if predict_result >=60:
    print("You are eligible for placements.")
else:
    print("sorry you are no eligible.")

[91.82019447]
You are eligible for placements.

c:\Users\samee\OneDrive\Desktop\Student performants\myenv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(